h1,h2{
    color: red;
}
#ProductName {
    color: yellow;
    background-color: black;
}
.input-control {
    color: white;
    background-color: green;
}
.myfont {
    font-size: 20px;
}
* {
    font-size: 20px;
}


